.author {
    @include flex-container(flex-start, center);
    opacity: 0.5;

    transition: opacity 0.3s;

    &__img-wrapper {
        overflow: hidden;
        
        width: 35px;
        height: 35px;

        border-radius:50%;
    }

    &__img {
        height: 100%;
        filter: blur(2px);
        transition: filter 0.1s;
    }

    &__name {
        @include indent-reset();
        margin-left: 5px;

        font-size: 12px;
        font-weight: 400;
    }
}