.btn {
    @include button-reset();
    @include icon-btn();

    display: block;

    height: 100%;

    background-size: 21px;

    @media (max-width: 768px) {
        background-size: 18px;
    }
    
    &--color-theme {
        @include background-image(url(../img/color-theme.svg), center);

        &:hover {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
        }

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
        }
    }

    &--login {
        visibility: visible;

        padding: 11px;

        @include background-image(url(../img/login.svg), center);

        background-size: 22px;

        @media (max-width: 768px) {
            background-size: 22px;
        }

        &:hover {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }
    }

    &--personal {
        display: none;

        padding: 11px;
        @include background-image(url(../img/authorized.svg), center);

        background-size: 22px;

        @media (max-width: 768px) {
            background-size: 22px;
        }

        &:hover {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }
        
    }

    &--likes {
        visibility: visible;

        @include background-image(url(../img/like.svg), center);
        opacity: 1;

        background-size: 22px;
        
        transform: translate(0) scale(1);
        transition: box-shadow 0.3s, background-color 0.3s, transform 0.7s, visibility 1s ;
        transition-delay: 0s, 0s, 0.1s, 0.1s;

        @media (max-width: 768px) {
            background-size: 20px;
        }

        &:hover {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }
    }
}