.btn {
    @include button-reset();

    display: block;

    height: 100%;
    
    &--color-scheme {
        @include background-image(url(../img/color-scheme.svg), center);
        background-size: 25px;

        @include icon-btn();

        &:hover {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
        }

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
        }
    }

    &--likes {
        visibility: visible;

        @include background-image(url(../img/like.svg), center);
        background-size: 25px;
        opacity: 1;

        @include icon-btn();
        transform: translate(0) scale(1);

        transition: box-shadow 0.3s, background-color 0.3s, transform 0.7s, visibility 1s ;
        transition-delay: 0s, 0s, 0.1s, 0.1s;

        &:hover {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
            background-color: $primary-color-transparent;
        }
    }
}