.colors-handle {
    position: relative;
    height: 50px;
    width: 50px;

    transition-property: filter, background-image, transform, width, height, box-shadow;
    transition-duration: 0.8s, 0.5s, 1s, 0.5s, 0.5s, 0.3s;

    border-radius: 50%;

    @media (max-width: 768px) {
        height: 45px;
        width: 45px;
    }

    &:hover {
        filter: hue-rotate(310deg) grayscale(0.3);
    }

    &__btn {
        position: absolute;
        left: 0;

        @include button-reset();
        
        width: 100%;
        height: 100%;
        
        background-color: transparent;
        border-radius: 50%;

        transition: box-shadow 0.5s;

        &:focus {
            box-shadow: 0 0 0px 10px $primary-color-transparent;
                
        }
    }
}