.header {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 100;

  width:100%;
  height: 95px;
  padding-bottom: 0;

  background-color: $white-like-transparent;
  transition: background-color 0.8s, padding 0.8s, filter 0.1s, height 0.8s;

  @media(max-width: 768px) {
    height: 73px;
  }

    &__bar-container {
      z-index: 10;

      width: 100%;

      background-color: $background-secondary-color;
      transition: background-color 0.8s;
    }

    &__bg-color {
      padding: 10px 0;

      background-color: transparent;
      transition: background-color 0.5s;
    }

    &__bar {
      height: 65px;
      @include flex-container(space-between, center);

      @media (max-width: 768px) {
        height: 45px;
      }
    }

    &__colors-handle{
      display:block;
    }

    &__btn-list {
      @include flex-container(space-between, center);

      height: 100%;
      width: 12%;

      @include list-reset();

      @media (max-width: 1024px) {
        width: 17%;
      }

      @media (max-width: 768px) {
        width: 100px;
      }
    }

    &__btn-item {
      @include list-el-reset();

      max-height: 45px;
      max-width: 45px;
      padding: 5px;

      border-radius: 50%;
    }

    &__colors-menu {
      margin-top: 10px;
    }
}
