.liked-container-open {
    transition: all 0.8s;

    .liked-container {
        visibility: visible;
        opacity: 1;

        height: 100%;

        &__wrapper {
            width: 45%;
            padding: 35px 6%;

            @media (max-width: 1170px) {
                width: 37%;
            }

            @media (max-width: 1024px) {
                width: 40%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &__title {
            opacity: 1;
            
            font-size: 14px;
            
            transform: translate(0);

            &::before {
                opacity: 1;

                transform: scale(1);
            }

            @media (max-width: 1024px) {
                font-size: 12px;
            } 

            @media (max-width: 768px) {
                max-width: 200px;
                margin: 0 auto 25px;

                font-size: 14px;
                text-align: center;
            } 

            @media (max-width: 480px) {
                font-size: 12px;
            } 
        }
        
        .content-img  {
            opacity: 1;
        }
    }

    .header {
        filter: blur(2.5px);
    }

    .page {
        filter: blur(2.5px);
    }

    .btn-close {
        @include btn-close-position;
    }

    .btn {
        &--likes {
            visibility: hidden;
            transform: translate(-280px) scale(0.3);

            @media (max-width: 1024px) {
                transform: translate(-150px) scale(0.3);
            }

            @media (max-width: 768px) {
                visibility: visible;
                transform: translate(0) scale(1);
            }
        }
    }
}
