.like {
    @include flex-container(flex-end , center);
    min-width: 65px;
    padding: 0 0;

    &__total-likes {
        margin: 0;

        color: $white-like;
        font-size: 12px;

        @media(max-width: 768px) {
            visibility: hidden;  
        }
    }

    &__btn {
        @include button-reset();
        
        width:35px;
        height: 35px;
        padding: 9px;
        margin-left: 5px;

        @include background-image(url(../img/like.svg), center);
        background-size: 20px;

        background-color:  rgba(234, 234, 234, 0.3);
        border-radius: 8px;

        transition: background-image 1s;

        @media(max-width: 768px) {
            width:40px;
            height: 40px;
            margin-left: 0;

            background-size: 22px;
            background-color: $dark-shades-transparent;
        }

        &--liked {
            background-image: url(../img/like--liked.svg);
        }

        &--dislike {
            background-image: url(../img/like--dislike.svg);
        }

        &:hover {
            background-image: url(../img/like--hovered.svg);
            animation: pulse 1.5s ease-in-out 1;
        }

        @keyframes pulse {
            from   {
                box-shadow: 0 0 0 0 rgba(234, 234, 234, 0.5);
            }
            to  {
                box-shadow: 0 0 0 20px rgba(234, 234, 234, 0);
            }
        }
    }
}