.logo {
    display: block;

    height: 100%;
    min-width: 20%;

    transition: height 0.5s, width 0.5s ;

    @media (max-width: 768px) {
        height: 95%;
        min-width: 25%
    }

    &__link {
        @include button-reset();

        display: block;
        
        height: 100%;

        @include background-image(url(../img/logo.svg), center);
        background-size: contain;
        border-radius: 45px;

        transition: transform 1s, background-image 0.2s, background-color 0.5s, box-shadow 0.5s ;

        &:focus {
            background-color: rgba(211, 179, 163, 0.15);
            box-shadow: 0 0 0px 5px rgb(211 179 163 / 15%);
        }

        @media (max-width: 1024px) {
            background-image: url(../img/logo-short.svg);
            transform: rotateY(360deg);
        }
    }
}