.logo {
    display: block;

    height: 100%;
    width: 120px;

    &__link {
        display: block;
        height: 100%;

        transition: background-image 0.5s;

        @include background-image(url(../img/logo.svg), center);
        background-size: contain;

        @media (max-width: 1024px) {
            background-image: url(../img/logo-short.svg);
        }
    }
}