.page {
    transition: filter 0.1s;
    
    &__pic-grid {
        @include list-reset();
    }

    .fixed-container {
        max-width: unset;
  
        @media (max-width: 1170px) {
            max-width: 1024px;
        }
        @media (max-width: 1024px) {
            min-width: 320px;
            max-width: 768px;
        }
    }

    &__loading {
        margin: 0 auto; 
    }

    .loading {
        min-width: unset;
        min-height: unset;
        max-width: 76px;
        padding: 10px;

        background-size: 35px;
    }
}