.page {
    transition: filter 0.1s;
    
    &__pic-grid {
        @include list-reset();
    }

    .fixed-container {
        max-width: unset;
  
        @media (max-width: 1170px) {
            max-width: 1024px;
        }
        @media (max-width: 1024px) {
            min-width: 320px;
            max-width: 768px;
        }
    }

    &__loading {
        max-width: 76px;
        padding: 10px;
        margin: 0 auto;

        opacity: 0.5;
        
        @include background-image(url(../img/bite.svg), center);
        background-size: 35px;
    }
}