.pic-item-hover {
    .pic-grid { 
        &__img {
            filter: brightness(0.5);
        }
    
        &__like-btn {
            visibility: visible;
        }
    
        &__publication-time {
            visibility: visible;
        }
    }

    .liked-container {
        &__img {
            filter: brightness(0.5);
        }
    
        &__like-btn {
            visibility: visible;
        }
    
        &__publication-time {
            visibility: visible;
        }
    }

    .author {
        opacity: 1;
    
        &__img {
            filter: none;
        }
    }
}