.pic-item-hover {
    .publication { 
        .content-img {
            filter: brightness(0.5);
        }
    
        &__like-btn {
            visibility: visible;
        }
    
        &__publication-time {
            visibility: visible;
        }
    }

    .author {
        opacity: 1;
    
        &__img {
            filter: none;
        }
    }
}