.pic-item-hover {

    .liked-container__total-likes {
        visibility: visible;
    }
    
    .publication { 
        &__publication-time {
            visibility: visible;

            @media(max-width: 768px) {
                visibility: hidden;
            }
        }

        .content-img {
            filter: brightness(0.5);

            @media(max-width: 768px) {
                filter: none;
            }
        }

        .like {
            visibility: visible;
        }
    }

    .author {
        opacity: 1;
    
        &__img {
            filter: none;
        }
    }
}