.pic-grid {
    display: grid;
    position: relative;

    grid-template-columns: repeat(3, minmax(200px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-rows: 1px;

    &__list-item {
        width: 100%;
        @include list-el-reset();
    }
}