.picture-container-open {

    .picture-container {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;

        &__wrapper {
            transform: translateY(0);           
        }

        &__content-img {
            transform: translateY(0);
        }

        &__title {
            &::before {
                opacity: 1;

                transform: scale(1);
            }
        }
    }

    .header {
        filter: blur(2.5px);
    }

    .page {
        filter: blur(2.5px);
    }

    .btn-close {
        @include btn-close-position;
    }
}
