.picture-container {
    position: fixed;

    @include flex-container(center, center);
    
    visibility: hidden;
    z-index: 1000;
    overflow: hidden;

    width: 100%;
    height: 100%;
    min-width: 320px;
    padding-top: 40px;

    opacity: 0;

    background-color:$black-bg;
    color: $WHITE;
    cursor: zoom-out;

    transition: opacity 0.5s, visibility 0.5s;

    @media (max-width: 768px) {
        padding-top: 0;
    }

    &__wrapper {
        @include flex-container(space-between, center);
        align-content: flex-start;

        height: fit-content;
        min-height: 100%;
        width: 80%;
        padding: 35px 40px 20px;

        background-color: $dark-shades-transparent;
        border-radius: 10px;
        cursor: auto;

        transform: translateY(30px);
        transition: transform 0.4s;
        
        @media (max-width: 768px) {
            width: 100%;
            padding: 45px 10px 20px;

            border-radius: 0;
        }
    }

    &__publication-time {
        margin-left: auto;
    }

    &__content-img {
        display: block;

        margin: 25px 0;

        @media (max-width: 480px) {
            margin: 10px 0;
        }

        .content-img {
            margin: 0;
            cursor: pointer;
        }
    }

    &__total-likes {
        position: relative;
        &:before {
            position: absolute;
            left: -20px;
            top: 2px;

            height: 10px;
            width: 18px;

            content: url(../img/like.svg);
        }

        &--liked {
            &:before {
                content: url(../img/like--liked.svg);
            }
        }
    }

    .author {
        opacity: 1;
    
        &__img-wrapper {
            width: 45px;
            height: 45px;

            @media( max-width: 768px) {
                width: 35px;
                height: 35px;
            }
        }
    
        &__img {
            filter: none;
        }
    }
}
