.picture-container {
    position: fixed;

    @include flex-container(center, center);
    
    visibility: hidden;
    z-index: 1000;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding-top: 40px;

    opacity: 0;

    background-color:$black-bg;
    color: $WHITE;

    transition: opacity 0.5s, visibility 0.5s;

    cursor: zoom-out;

    &__wrapper {
        @include flex-container(space-between);

        height: fit-content;
        min-height: 100%;
        width: 80%;
        padding: 35px 40px 20px;

        background-color: $dark-shades-transparent;
        border-radius: 10px;

        transform: translateY(30px);

        transition: transform 0.4s;
        cursor: auto;
    }

    &__publication-time {
        margin-left: auto;
    }

    .content-img {
        margin: 20px 0;

        cursor: pointer;
    }

    .author {
        opacity: 1;
    
        &__img-wrapper {
            width: 45px;
            height: 45px;
        }
    
        &__img {
            filter: none;
        }
    }

    .like-btn {
        width: 40px;
        height: 40px;
        padding: 12px 9px;

        background-size: 18px;
    }
}
