.publication {
    width: 100%;

    &__points {
        position: relative;
        width: 100%;

        border-radius: 8px;
    }

    .like {
        visibility: hidden;

        @media(max-width: 768px) {
            visibility: visible;  
        }
    }

    &__like {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__publication-time {
        position: absolute;
        bottom: 15px;
        right: 15px;

        visibility: hidden;

        @media(max-width: 768px) {
            visibility: hidden;  
        }
    }

    .author {
        margin-top: 5px;
    }
}