
.colors-menu-white {
    .header__bg-color {
        background-color: $white-bg;
    }
    .colors-menu {
        &__item {
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--white {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-black {
    .header__bg-color {
        background-color: $black-bg;
    }
    .colors-menu {
        &__item {
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }

            
            &--black {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-yellow {
    .header__bg-color {
        background-color: $yellow-bg;
    }
    .colors-menu {
        &__item {
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--yellow {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-orange {
    .header__bg-color {
        background-color: $orange-bg;
    }
    .colors-menu {
        &__item {
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
        
            &--orange {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-red {
    .header__bg-color {
        background-color: $red-bg;
    }
    .colors-menu {
            &__item {
                min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--red {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-purple {
    .header__bg-color {
        background-color: $purple-bg;
    }
    .colors-menu {
        &__item{
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--purple {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-magenta {
    .header__bg-color {
        background-color: $magenta-bg;
    }
    .colors-menu {
        &__item{
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--magenta {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-green {
    .header__bg-color {
        background-color: $green-bg;
    }
    .colors-menu {
        &__item{
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--green {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-teal {
    .header__bg-color {
        background-color: $teal-bg;
    }
    .colors-menu {
        &__item{
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--teal {
                min-width: 17%;
            }
        }
    }
}

.colors-menu-blue {
    .header__bg-color {
        background-color: $blue-bg;
    }
    .colors-menu {
        &__item{
            min-width: 6.8%;

            &:last-child {
                min-width: 20px;
    
                &:hover {
                    min-width: 13%;
                    transform: translateY(0) 
                }
            }
            
            &--blue {
                min-width: 17%;
            }
        }
    }
}