.colors-menu-white {
    .header__bg-color {
        background-color: $white-bg;
    }

    @include selected-color-first-raw;

    .colors-menu__item--white {
        min-width: 17%;
        
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-black {
    .header__bg-color {
        background-color: $black-bg;
    }

    @include selected-color-first-raw;

    .colors-menu__item--black {
        min-width: 17%;
        
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-yellow {
    .header__bg-color {
        background-color: $yellow-bg;
    }

    @include selected-color-first-raw;

    .colors-menu__item--yellow {
        min-width: 17%;
        
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-orange {
    .header__bg-color {
        background-color: $orange-bg;
    }

    @include selected-color-first-raw;

    .colors-menu__item--orange {
        min-width: 17%;
        
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-red {
    .header__bg-color {
        background-color: $red-bg;
    }

    @include selected-color-first-raw;

    .colors-menu__item--red {
        min-width: 17%;
        
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-purple {
    .header__bg-color {
        background-color: $purple-bg;
    }

    @include selected-color-first-raw;

    .colors-menu__item--purple {
        min-width: 17%;
        
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-magenta {
    .header__bg-color {
        background-color: $magenta-bg;
    }

    @include selected-color-second-raw;

    .colors-menu__item--magenta {
        min-width: 17%;
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}

.colors-menu-green {
    .header__bg-color {
        background-color: $green-bg;
    }

    @include selected-color-second-raw;

    .colors-menu__item--green {
        min-width: 17%;
        @media (max-width: 480px){
            min-width: 32%;
        }
    }   
}

.colors-menu-teal {
    .header__bg-color {
        background-color: $teal-bg;
    }

    @include selected-color-second-raw;

    .colors-menu__item--teal {
        min-width: 17%;
        @media (max-width: 480px){
            min-width: 32%;
        }
    } 
}

.colors-menu-blue {
    .header__bg-color {
        background-color: $blue-bg;
    }

    @include selected-color-second-raw;

    .colors-menu__item--blue {
        min-width: 17%;
        @media (max-width: 480px){
            min-width: 32%;
        }
    }
}
