.dark-theme {
    background-color: $dark-shades;
    color: $WHITE;

    .header { 
        background-color: $dark-shades-transparent;
        
        &__bar-container {
            background-color: #2d2c32;
        }
    }

    .btn {
        &--color-theme {
            background-image: url(../img/color-theme-dark.svg);
            transform: rotate(360deg);
        }
    }
}
