@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin list-el-reset() {
  padding: 0;
  list-style: none;
}

@mixin indent-reset() {
  margin: 0;
  padding: 0;
}

@mixin button-reset { /*сбрасываем стили кнопки*/
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer; /*отображаем курсор*/
}

@mixin flex-container($justify-content, $align-items: stretch) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin background-image($url, $background-position: 0% 0%) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: $background-position;
}

@mixin icon-btn { 
  padding: 10.5px;
  border-radius: 50%;

  transition: box-shadow 0.3s, background-color 0.3s, background-image 0.8s, transform 0.8s, opacity 0.6s;
    @media (max-width: 768px) {
      padding: 9.5px;
    }
}

@mixin selected-color-first-raw {
  .colors-menu {
    &__item {
      min-width: 6.8%;

      &:last-child {
        min-width: 20px;

        &:hover {
          min-width: 13%;
          transform: translateY(0) 
        }

        @media (max-width: 768px){
          min-width: 6.8%;
        }
      }

      @media (max-width: 480px){
        &--white {
          min-width: 11%;
        }
    
        &--black {
          min-width: 11%;
        }
    
        &--yellow {
          min-width: 11%;
        }
    
        &--orange {
          min-width: 11%;
        }
    
        &--red {
          min-width: 11%;
        }
    
        &--purple {
          min-width: 11%;
        }
    
        &--magenta {
          min-width: 15%;
        }
    
        &--green {
          min-width: 15%;
        }
    
        &--teal {
          min-width: 15%;
        }
    
        &--blue {
          min-width: 15%;
        }
    
        &:last-child {
          min-width: 32%;
        }
      }
    }
  }
}

@mixin selected-color-second-raw {
  .colors-menu {
    &__item {
      min-width: 6.8%;

      &:last-child {
        min-width: 20px;

        &:hover {
          min-width: 13%;
          transform: translateY(0) 
        }

        @media (max-width: 768px){
          min-width: 6.8%;
        }
      }

      @media (max-width: 480px){
        &--white {
          min-width: 15%;
        }
    
        &--black {
          min-width: 15%;
        }
    
        &--yellow {
          min-width: 15%;
        }
    
        &--orange {
          min-width: 15%;
        }
    
        &--red {
          min-width: 15%;
        }
    
        &--purple {
          min-width: 15%;
        }
    
        &--magenta {
          min-width: 15%;
        }
    
        &--green {
          min-width: 15%;
        }
    
        &--teal {
          min-width: 15%;
        }
    
        &--blue {
          min-width: 15%;
        }
    
        &:last-child {
          min-width: 15%;
        }
      }
    }
  }
}