.visually-hidden {
	position: absolute !important; /* позиционирование абсолютное, приоритет стиля*/
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px 1px 1px 1px); /* определяет область позиционированного элемента, в которой будет показано его содержимое */

	height: 1px !important; /* задает высоту, приоритет стиля */
	width: 1px !important; /* задает ширину, приоритет стиля */
	padding: 0 !important; /* убирает отступы,приоритет стиля */

	border: 0 !important; /* убирает границы, приоритет стиля */
	overflow: hidden; /* Отображается только область внутри элемента, остальное будет скрыто */
}
